<!DOCTYPE html>
<html>
  <head>
   
  </head>
  <body> 
    
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-6">
            <h1>Contact</h1>
            <p>email: 113305@naver.com</p>
            <p>phone: 010-4064-0801</p>
          </div>
        </div>
      </div>
    </div>  
   
  </body>
</html>