<html>
<head>
</head>
<body>
<center>

  
    <div class="jumbotron">
      <div class="container">

        <h3>Find your type!!</h3>
        <br>
        <form action = "/home/type">
          <p>GENDER :
          <input type="radio" name="gender" value="male"> male
          <input type="radio" name="gender" value="female"> female</p>
          <br>
          <p>NAME :
          <input type="text" name="name">
          <input type="submit" value="Find"></p>
          <br>
        </form>
      </div>
    </div>

    

</center>
</body>
</html>