<!DOCTYPE html>
<html>
  <head>
   
  </head>
  <body> 
    
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-6">
          <h1>Past Work</h1>
          <p>2014 LIFE GAME</p>
          <iframe width="400" height="225" src="https://www.youtube.com/embed/Gp96aCPgAZM" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>  

  </body>
</html>