<!DOCTYPE html>
<html>
  <head>

  </head>
  <body>
    
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-6">
            <h1>Profile</h1>
            <p>1991 born in Ilsan</p>
            <p>2015 member of the 3rd like lion class</p>  
            <p>2016 Seoul National University of Science and Technology,BE,IISE</p>
          </div>
        </div>
      </div>
    </div>  

  </body>
</html>